[submodule "sources/poky-dunfell"]
	path = sources/poky-dunfell
	url = git://git.yoctoproject.org/poky
	branch = dunfell
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = dunfell
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = dunfell
